.colorBar{
   background: #613374 !important;
   display: flex !important;
   justify-content: space-between !important;
   align-items: center;
   flex-direction: row !important;
   height: 10vh;
}

.iconStyle{
   font-size: 250% !important;
   color: white !important;
}

.iconStyleLogOut{
   font-size: 220% !important;
   color: white !important;
}

img{
   width: 20%;
}

.container-list{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.btn-link{
   text-decoration: none;
   list-style: none;
}